.index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .overlap-group-wrapper {
    background-color: #ffffff;
    height: 662px;
    width: 1068px;
  }
  
  .index .overlap-group {
    height: 314px;
    left: 102px;
    position: relative;
    top: 102px;
    width: 914px;
  }
  
  .index .rectangle {
    height: 314px;
    left: 0;
    position: absolute;
    top: 0;
    width: 914px;
  }
  
  .index .text-wrapper {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 39px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 46px;
    width: 97px;
  }
  
  .index .div {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 39px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 68px;
  }
  
  .index .p {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 41px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 113px;
    width: 335px;
  }
  
  .index .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 44px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 241px;
    width: 92px;
  }
  
  .index .arrow {
    height: 22px;
    left: 134px;
    position: absolute;
    top: 242px;
    width: 24px;
  }
  
  .index .rectangle-2 {
    background-color: #d9d9d9;
    height: 196px;
    left: 460px;
    position: absolute;
    top: 57px;
    width: 122px;
  }
  
  .index .rectangle-3 {
    background-color: #d9d9d9;
    height: 196px;
    left: 610px;
    position: absolute;
    top: 26px;
    width: 122px;
  }
  
  .index .rectangle-4 {
    background-color: #d9d9d9;
    height: 196px;
    left: 760px;
    position: absolute;
    top: 69px;
    width: 122px;
  }

  .article-card-one {
    /* Set the initial opacity to 0 */
    opacity: 0;
    /* Set the transition duration to 1 second */
    transition: opacity 5s;
  }
  
  .article-card-one.fade-in {
    /* Set the final opacity to 1 */
    opacity: 1;
  }
  
  