.navbar {
  display: flex;
  justify-content: space-between;
  background: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 96%;
}

.logo {
  height: 50px;
}

.menu {
  display: flex;
  gap: 5rem;
}

.contact {
  display: flex;
}

.contact-button {
  position: relative;
  background: transparent;
  border: 0;
  color: aliceblue;
  font-family: "FutureOne";
  font-size: 24px;
  transition: all 0.6s;
  border-radius: 10px;
}

.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5); 
  z-index: 100;
  justify-items: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.transparent-button {
  position: relative;
  background: transparent;
  border: 0;
  color: aliceblue;
  font-family: "FutureOne";
  font-size: 24px;
  transition: all 0.6s;
  border-radius: 10px;
}

.transparent-button:hover {
  background: rgb(0, 84, 122);
  font-family: "FutureTwo";
  font-size: 24px; /* Change to your desired font size */
}

.transparent-button:hover::after {
  content: "";
  position: absolute;
  top: -2px; /* Adjust these values based on your desired border width */
  right: -2px;
  bottom: -2px;
  left: -2px;
  background: linear-gradient(45deg, #ff0000, #3399ff, #9933ff);
  border-radius: calc(
    10px + 1px
  ); /* Add your desired border width to the existing border radius */
  z-index: -1;
}
