.project-parent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, #000000, #001a34, #000000);
    z-index: 50; /* Make sure it's above other content */
    margin: 0 auto; /* Center horizontally */
    display: flex; /* make it a flex container */
    align-items: center; /* center the items vertically */
    justify-content: center; /* center the items horizontally */

  }

  .project-card {
    width: 70%; 
    height: 50%; 
  }
